* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1d2c3b;
}

header #h-wrapper {
  width: 100%;
  height: 60px;
  background-color: #2e3a46;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
}

#h-wrapper .logo {
  height: 100%;
  padding: 5px;
  text-align: center;
}

#h-wrapper .logo img {
  height: 90%;
  cursor: pointer;
  transition: all 0.8s;
}

#h-wrapper .logo img:hover {
  filter: brightness(1.2);
}

#h-wrapper .choose_genres .custom-select {
  position: relative;
  display: block;
  max-width: 400px;
  min-width: 180px;
  margin: 0 auto;
  border: 1px solid #3ad55f;
  background-color: #1c2b3b;
  z-index: 10;
  transition: all 0.8s;
}

#h-wrapper .choose_genres .custom-select:hover {
  filter: brightness(1.2);
}

#h-wrapper .choose_genres .custom-select select {
  border: none;
  outline: none;
  background: transparent;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 14px;
  color: white;
}

main {
  width: 80%;
  margin: 20px auto;
}

main #database {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

#database > .disco {
  flex-basis: calc(100% / 4);
  margin: 20px;
  background-color: #2e3a46;
  transition: all 0.8s;
  cursor: pointer;
  padding: 30px;
  min-height: 360px;
  text-align: center;
}

#database .disco:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

#database .disco img {
  width: 200px;
  margin-bottom: 10px;
}

#database .disco h2 {
  height: 60px;
  color: white;
  font-size: 1.2em;
  font-weight: initial;
}

#database .disco h3 {
  color: rgb(141, 134, 134);
  font-size: 1.1em;
  font-weight: initial;
  margin-bottom: 5px;
}

#database .disco h4 {
  color: rgb(141, 134, 134);
  font-size: 0.8em;
  font-weight: initial;
  margin-bottom: 5px;
}
